<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="city-add" routerLinkActive="active" href="#">Add City</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">?</a>
      </li>
    </ul>
    
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="User Name">
            <input class="form-control mr-sm-2" type="password" placeholder="Password">
            <div class="align-center ml-2 mr-2">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>   
            <small><a class="text-muted form-text" href="#">Sign Up</a></small>  
          </div>  
          </form>
          
  
    

    
  </div>
</nav>